body{
background-image: url("/images/zoo.jpg");
background-size: cover;
width: 100%;
height: 100%;
}

.meat{
margin-left: 35%;
background-image: url("/images/animals.jpg");
background-size: cover;
width: 300px;
height: 200px;
}

.headingt{


    background-color: #128D0E!important;

}

.bg-dark {
    background-color: #128D0E!important;
}

.nav-brand img{
  height: 3rem;
  border-radius: 50%;
}
.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
 color: #D30C47;
}

p.textarea{
color: white;
opacity: 1;
}
.index-right{
color: white;
}
.mylist{
color: white;
}

.ul{
display:table;
margin:0 auto;
width: 80%;
border-radius: 0;
color: white;
}
.align{
text-align: center;
}
.form-left{
display:table;
margin:0 auto;
width: 80%;
border-radius: 0;
background: white;

height: 80vh;
}
