<div class="meat">
    <div class="row">
        <div class="col col-sm-6">
                <p class="headingt">
                WELCOME TO THE WILDLIFE TRACKER
                </p>
        </div>

    </div>
</div>